<app-header ></app-header> 

<head>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="./assets/css/bootstrap.css"> -->
  
<!-- <link rel="stylesheet" href="assets/bold.css"> -->

  <!-- <link rel="stylesheet" href="assets/perfect-scrollbar.css"> -->
  <!-- <link rel="stylesheet" href="assets/css/bootstrap-icons.css"> -->
  <!-- <link rel="stylesheet" href="assets/css/app.css"> -->
  <!-- <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon"> -->

</head>

<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page-content">
        <section class="row">
            <div class="col-12 col-lg-9">
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-6">
                        <div class="card">
                            <div class="card-body px-3 py-4-5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="stats-icon purple">
                                            <img src="assets/new_user.PNG" height="48" weight="40" style="border-radius: 10%;"/>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <h5 style="color: black;">New users</h5>
                                        <h6 > + 112.000</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
                   </div>
                  </div>
            </div>
         
               
                <!-- <div class="card">
                    <div class="card-header">
                        <h4>Visitors Profile</h4>
                    </div>
                    <div class="card-body">
                        <div id="chart-visitors-profile"></div>
                    </div>
                </div> -->
           
       
    <!-- </div>
      <div class="page__content-data position-absolute text-center">
         Dashboard Content Goes Here
      </div> 
    </div>
  </div> -->
  