<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/Logo.png" alt="Application Logo"/>
    </div>
  
  <mat-divider></mat-divider><br/>
    <a routerLinkActive="list-item-active" mat-list-item routerLink="/home" >
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
      <mat-icon>settings</mat-icon> Settings
    </a>
   
  </mat-nav-list>
  